<div class="container vh-300 d-flex flex-column justify-content-center align-items-center mt-2">

  <div class="row justify-content-center mb-4">
    <div class="col-12">
      <div class="text-area p-5">
        <p class="font-monospace text-center mb-0 fw-bolder">
          What is this?
        </p> <br>
        <p class="font-monospace text-center mb-0">
          While this site exists in its (extreme) infancy, it will soon serve as my personal website with an admin control centre for the standard CRUD.
          This will be deployed with CI/CD configurations against a test suite in an attempt to avoid unnecessary downtime.
        </p><br>
        <p class="font-monospace text-center mb-0">
          This site will serve as a persistent sandbox for my learning experiences as a publicly documented log of the things I do and learn as a developer.
        </p><br>
        <p class="font-monospace text-center mb-0">
          This site is written in Ruby on Rails. While it is a framework I am greatly enjoying learning, it also permits returning any result as JSON by default.
        </p><br>
        <p class="font-monospace text-center mb-0">
          As such, when this site looks as it should in its Rails implementation, I will learn subdomains and treat the back-end as a headless API for other front-end frameworks.
        </p><br>
        <p class="font-monospace text-center mb-0">
          I look forward to working with you, <br>
          Chris
        </p>
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-auto mb-2">
      <%= render 'qr_card', title: 'LinkedIn', qr_code: @qr_linkedin %>
    </div>
    <div class="col-auto mb-2">
      <%= render 'qr_card', title: 'GitHub', qr_code: @qr_github %>
    </div>
  </div>
</div>
