<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="row align-items-center w-100">
      <!-- Logo and Name on the Left -->
      <div class="col text-start d-flex align-items-center">
        <%= image_tag("opswole.png", class: "d-inline-block me-2", height: '40', width: '40') %>
        <span class="align-middle">Christopher Fagg</span>
      </div>

      <!-- Center Navigation -->
      <div class="col text-center">
        <ul class="navbar-nav d-flex flex-row justify-content-center mb-0">
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">Employment</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">About Me</a>
          </li>
        </ul>
      </div>

      <!-- Button on the Right -->
      <div class="col text-end">
        <%= button_to 'Admin Controls', admin_show_path, method: :get, class: 'btn btn-outline-info' %>
      </div>
    </div>
  </div>
</nav>






<!--
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

      <div class="col">
        <a class="navbar-brand" href="#">
          <%#= image_tag("opswole.png") %>
        </a>
      </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link active text-center" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">Link</a>
        </li>
      </ul>
      <div>
        <p>test</p>
         <%#= link_to 'Search Page', search_path, class: 'btn btn-outline-success' %>
      </div>
    </div>
  </div>
</nav>
-->
